@model NumericSequenceCalculator.Models.InputNumber

@{
    ViewBag.Title = "Home Page";
}

<div style="height:20px;"></div>
<p class="cite">
    Please enter a positive integer, then click on the &lsquo;Submit&rsquo; button to generate seven different sequences of numbers, all containing values up to the number entered.
</p>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @using (Ajax.BeginForm("GenerateLists", "Home", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "form_response", HttpMethod = "Post", LoadingElementId = "loading" }, new { @class = "clearfix", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div style="float:left; padding-right:20px;">
                    @Html.LabelFor(m => m.Number, new { @class = "lead" })
                </div>
                <div style="float:left; padding-right:20px;">
                    @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                </div>
                <div style="float:left; padding-right:20px;">
                    <button type="submit" class="btn pull-left btn-default" id="form-numeric-sequence-calculator-submit">Submit</button>
                </div>
                <div style="float:left; padding-right:20px;">
                    @Html.ActionLink("Clear Lists", "Index", null, new { @class = "btn pull-left btn-default" })
                </div>
                <div style="clear:both; height:10px;"></div>

                @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })
                <div id="loading" class="pull-left">
                    <img src="~/images/AjaxLoader.gif" /> &nbsp; Please wait...
                </div>
                <div id="form_response"></div>
            }
        </div>
    </div>
</div>